@{
	ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container-fluid footer">
	<div class="container">
		
	</div>
	<div class="col-md-4 text-center">
		<ul class="footer-links">
			<h5>Siga Repactua</h5>
			<li><a href="#">Twitter</a></li>
			<li><a href="#">Facebook</a></li>
			<li><a href="#">Instagram</a></li>
		</ul>
	</div>
	<div class="text-center">
		<img src="/images/arm_with_u_logo.png" class="img-fluid" alt="Arm with Umbraco Logo">
	</div>
</div>


