
@{
    ViewData["Title"] = "Propostas";
}


<div class="text-center">
	<!DOCTYPE HTML>

	<!-- Jumbotron, w title -->
	@*@foreach(var AcordosModel in List<AcordosModel>)
	{*@

					
	<div class="float">
		<div class="container">
			<div class="card w-30">
				<div class="card-body">
					<h5 class="card-title">Divida: </h5>
					<p class="card-title">Financeira</p>
					<p class="card-text">Valor:R$100 parcelas:4x juros: 2.4</p>
					<a href="#" class="btn btn-primary">Detalhes</a>
				</div>
			</div>
		  </div>
		</div>

}